
<h2>Here is the definition for <%= @dictionary.definition() %> </h2>

<div id="words">
  <li>
    Definition:
    <ul> <% @dictionary.words().each() do |word_entry| %>
      <li> <%= word_entry.word_address() %></li>
      <% end %>
    </ul>
  </li>
</div>

<a href="/dictionaries/<%= @dictionary.id() %>/word/new">Add definitions for word</a><br>
<a href="/dictionaries/<%= @dictionary.id()%>/delete">Delete these dfinitions</a><br>
<a href="/">Return to Main page</a>
