<h2>Here is where you add your words:</h2>

<form action='/' method='post'>
  <label for='definition'> Word</label>
  <input id='definition' name='definition' type='text'>
<br>
  <button type='submit'>Add Word</button>
